
.regular-btn{
    width: 90px;
    padding: 4px;
    border: 1px solid skyblue;
    border-radius: 10px;
    margin: 20px;
    margin-right: 20px;
    background-color:rgb(63, 62, 62);
    color: skyblue;
}
.regular-btn:hover{
    background-color: skyblue;
    color: white;
}
.head-container{
    display: flex;
    margin-right: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:rgb(63, 62, 62);
    color: white;
}